.Games {
  width: 300px;
  height: 400px;
  margin: 1em;
  max-width: 90%;
  background-color: rgb(201, 201, 201);
  border-radius: 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
}

.Games:hover {
  background-color: rgb(230, 230, 230);
  transition: 0.2s;
}
