.MobileMenu {
  display: flex;
  flex-direction: column;
  text-align: left;
  top: 10%;
  right: -100%;
  height: 100vh;
  max-width: 80%;
  width: 600px;
  background-color: rgb(255, 255, 255);
  box-shadow: -5px 10px 10px rgba(0, 0, 0, 0.377);
  position: fixed;
  transition: 0.2s;
}

.MobileMenu.active {
  right: 0%;
  transition: 0.2s;
  z-index: 2;
}

.navbar-text.mobile {
  font-size: 20px;
  margin-left: 2em;
  margin-top: 2em;
}
